@page
@model IndexModel
@{
    ViewData["Title"] = "Agenda Contato";
}

<div class="text-center">
    <div class="row">
        <div class="col-sm-12 text-right"><a class="btn btn-primary" href="Create">Novo</a></div>
    </div>
    <div class="row">
        <script src="js/site.js" asp-append-version="true"></script>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">E-mail</th>
                    <th colspan="2">Opções</th>
                </tr>
            </thead>
            @*if (Model != null && <!--Model.Contatos.Any())
            {*@

            <tbody id="contatos">
                @*foreach (var item in Model.Contatos)
                {*@
                @*@<tr>
                    <th id="id" scope="row"></th>
                    <td id="nome"></td>
                    <td id="telefone"></td>
                    <td id="email"></td>
                    <td>
                        <a asp-page="Delete" onclick="return confirm('Confirmar?');" class="btn btn-danger btn-sm text-white">Excluir</a>
                        <a id="editar" asp-page="Edit" asp-route-id="enviarID();" class="btn btn-success btn-sm text-white" onclick="enviarID();">Editar</a>
                    </td>

                </tr>*@
                @*}*@
            </tbody>
            @*}*@
        </table>
        <div id="editForm" style="display: none;">
            <h3>Editar Contato</h3>
            <form action="javascript:void(0);" onsubmit="atualizarContato()">
                <input type="hidden" id="edit-id">
                <input type="text" id="edit-nome">
                <input type="text" id="edit-telefone">
                <input type="text" id="edit-email">
                <input type="submit" value="Salvar dados">
                <a onclick="closeInput()" aria-label="Fechar" style="cursor: pointer;">&#10006;</a>
            </form>
        </div>
    </div>
</div>
